In [1]:
import numpy as np
import pandas as pd

## visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
data1 = pd.read_csv('loan_data.csv')

In [3]:
data1.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
data1.shape

(614, 13)

In [6]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [5]:
data1.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
data1.mean()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_12400\1540025681.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data1.mean()

ApplicantIncome      5403.459283
CoapplicantIncome    1621.245798
LoanAmount            146.412162
Loan_Amount_Term      342.000000
Credit_History          0.842199
dtype: float64

In [7]:
data1['ApplicantIncome'].mean()

5403.459283387622

In [8]:
data1['ApplicantIncome'].median()

3812.5

In [9]:
data1['ApplicantIncome'].mode()

0    2500
Name: ApplicantIncome, dtype: int64

In [10]:
data1['ApplicantIncome'].var()

37320390.167181164

In [11]:
data1['ApplicantIncome'].std()

6109.041673387174

In [12]:
data1['ApplicantIncome'].skew()

6.539513113994625

In [13]:
import statistics as stat

In [14]:
stat.mean(data1['ApplicantIncome'])

5403.459283387622

In [15]:
stat.median(data1['ApplicantIncome'])

3812.5

In [16]:
stat.variance(data1['ApplicantIncome'])

37320390.167181216

In [17]:
stat.stdev(data1['ApplicantIncome'])

6109.041673387178

## one sample Z-test

In [18]:
from statsmodels.stats.weightstats import ztest

In [19]:
data2 = [88,92,94,94,96,97,97,97,99,99,105,109,109,109,110,112,112,113,114,115]

In [20]:
z_stat,p_value = ztest(data2,value =100)  ## 100 is population IQ level in the question

In [21]:
p_value

0.1101266701438426

In [22]:
if p_value<0.05:
    print('Reject Null Hypothesis')
else:
    print('Accept Null Hypothesis')

Accept Null Hypothesis

## Two sample Z-Test

In [23]:
cityA = [82,84,85,89,91,91,92,94,99,99,105,109,109,109,110,112,112,113,114,114]
cityB = [90,91,91,91,95,95,99,99,108,109,109,114,115,116,117,117,128,129,130,133]

In [24]:
z_stat1,p_value1 = ztest(cityA,cityB,value=0)

In [25]:
p_value1

0.046007596761332065

In [26]:
if p_value1<0.05:
    print('Reject Null Hypothesis')
else:
    print('Accept Null Hypothesis')

Reject Null Hypothesis

In [27]:
data3 = pd.read_csv('Corona_Updated.csv')

In [28]:
data3.head(10)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Temprature,Humidity,Temp_Cat,Humid_Cat
0,Hubei,Mainland China,2020-03-10T15:13:05,67760,3024,47743,30.9756,112.2707,12.5,86,1,1
1,NaN,Italy,2020-03-10T17:53:02,10149,631,724,43.0000,12.0000,12.9,64,1,1
2,NaN,Iran (Islamic Republic of),2020-03-10T19:13:20,8042,291,2731,32.0000,53.0000,11.9,9,0,0
3,NaN,Republic of Korea,2020-03-10T19:13:20,7513,54,247,36.0000,128.0000,4.9,41,0,0
4,NaN,France,2020-03-10T18:53:02,1784,33,12,47.0000,2.0000,11.9,93,0,0
5,NaN,Spain,2020-03-10T23:53:02,1695,35,32,40.0000,-4.0000,22.3,36,1,1
6,NaN,Germany,2020-03-10T18:53:02,1457,2,18,51.0000,9.0000,10.4,91,0,0
7,Guangdong,Mainland China,2020-03-10T09:13:07,1353,8,1274,23.3417,113.4244,20.9,79,1,1
8,Henan,Mainland China,2020-03-08T05:03:02,1272,22,1247,33.8820,113.6140,14.7,59,1,1
9,Zhejiang,Mainland China,2020-03-10T10:33:02,1215,1,1191,29.1832,120.0934,11.0,89,0,0

In [29]:
data3.columns

Index(['Province/State', 'Country/Region', 'Last Update', 'Confirmed',
       'Deaths', 'Recovered', 'Latitude', 'Longitude', 'Temprature',
       'Humidity', 'Temp_Cat', 'Humid_Cat'],
      dtype='object')

In [30]:
data3['Temp_Cat'] = data3['Temprature'].apply(lambda x:0 if x<24 else 1)

In [31]:
data3.head(10)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Temprature,Humidity,Temp_Cat,Humid_Cat
0,Hubei,Mainland China,2020-03-10T15:13:05,67760,3024,47743,30.9756,112.2707,12.5,86,0,1
1,NaN,Italy,2020-03-10T17:53:02,10149,631,724,43.0000,12.0000,12.9,64,0,1
2,NaN,Iran (Islamic Republic of),2020-03-10T19:13:20,8042,291,2731,32.0000,53.0000,11.9,9,0,0
3,NaN,Republic of Korea,2020-03-10T19:13:20,7513,54,247,36.0000,128.0000,4.9,41,0,0
4,NaN,France,2020-03-10T18:53:02,1784,33,12,47.0000,2.0000,11.9,93,0,0
5,NaN,Spain,2020-03-10T23:53:02,1695,35,32,40.0000,-4.0000,22.3,36,0,1
6,NaN,Germany,2020-03-10T18:53:02,1457,2,18,51.0000,9.0000,10.4,91,0,0
7,Guangdong,Mainland China,2020-03-10T09:13:07,1353,8,1274,23.3417,113.4244,20.9,79,0,1
8,Henan,Mainland China,2020-03-08T05:03:02,1272,22,1247,33.8820,113.6140,14.7,59,0,1
9,Zhejiang,Mainland China,2020-03-10T10:33:02,1215,1,1191,29.1832,120.0934,11.0,89,0,0

In [32]:
z_stat3,p_value3 = ztest(data3['Confirmed'],data3['Temp_Cat'])

In [33]:
p_value3

0.08676755279995227

In [34]:
if p_value3<0.05:
    print('Reject Null Hypothesis')
else:
    print('Accept Null Hypothesis')

Accept Null Hypothesis

## One sample T-Test

In [35]:
Marks = [587,602,627,610,619,622,605,608,596,592]

In [36]:
from scipy.stats import ttest_1samp

In [37]:
t_stat,pvalue = ttest_1samp(Marks,600)

In [38]:
pvalue

0.1361270069204197

In [39]:
if p_value<0.05:
    print('Reject Null Hypothesis')
else:
    print('Accept Null Hypothesis')

Accept Null Hypothesis

## Two sample T-Test

In [40]:
Marks1 = [587,602,627,610,619,622,605,608,596,592]
Marks2 = [626,643,647,634,630,649,625,623,617,607]

In [41]:
from scipy.stats import ttest_ind

In [42]:
t_stat1,pvalue1 = ttest_ind(Marks1,Marks2)

In [43]:
pvalue1

0.0009993085088991266

In [44]:
if p_value1<0.05:
    print('Reject Null Hypothesis')
else:
    print('Accept Null Hypothesis')

Reject Null Hypothesis

## Chi Square test

In [45]:
expected = [50,50,50,50,50]
observed = [50,60,40,47,53]

In [46]:
from scipy.stats import chisquare

In [47]:
chi_stat,p_val = chisquare(f_obs = observed, f_exp = expected)

In [48]:
p_val

0.3594720674366307

In [49]:
if p_val<0.05:
    print('Reject Null Hypothesis')
else:
    print('Accept Null Hypothesis')

Accept Null Hypothesis

## chi square test of independence

In [50]:
from scipy.stats import chi2_contingency

In [51]:
tab_data = [[203,150,190,305],[195,170,250,400]]

In [52]:
chi2_stat,p_value,dof,exp = chi2_contingency(tab_data)

In [53]:
p_value

0.057964818341161385

In [54]:
if p_value<0.05:
    print('Reject Null Hypothesis')
else:
    print('Accept Null Hypothesis')

Accept Null Hypothesis

In [55]:
df = pd.DataFrame({'Gender':('M','M','M','F','F')*10,'isSmoker':('Smoker','Smoker','Non-Smoker','Non-Smoker','Smoker')*10})

In [56]:
df

   Gender    isSmoker
0       M      Smoker
1       M      Smoker
2       M  Non-Smoker
3       F  Non-Smoker
4       F      Smoker
5       M      Smoker
6       M      Smoker
7       M  Non-Smoker
8       F  Non-Smoker
9       F      Smoker
10      M      Smoker
11      M      Smoker
12      M  Non-Smoker
13      F  Non-Smoker
14      F      Smoker
15      M      Smoker
16      M      Smoker
17      M  Non-Smoker
18      F  Non-Smoker
19      F      Smoker
20      M      Smoker
21      M      Smoker
22      M  Non-Smoker
23      F  Non-Smoker
24      F      Smoker
25      M      Smoker
26      M      Smoker
27      M  Non-Smoker
28      F  Non-Smoker
29      F      Smoker
30      M      Smoker
31      M      Smoker
32      M  Non-Smoker
33      F  Non-Smoker
34      F      Smoker
35      M      Smoker
36      M      Smoker
37      M  Non-Smoker
38      F  Non-Smoker
39      F      Smoker
40      M      Smoker
41      M      Smoker
42      M  Non-Smoker
43      F  Non-Smoker
44      F      Smoker
45      M      Smoker
46      M      Smoker
47      M  Non-Smoker
48      F  Non-Smoker
49      F      Smoker

In [57]:
data = pd.crosstab(df['Gender'],df['isSmoker'])

In [58]:
data

isSmoker  Non-Smoker  Smoker
Gender
F                 10      10
M                 10      20

In [59]:
chi2_stat,p_value,dof,exp = chi2_contingency(data)

In [60]:
p_value

0.3767591178115821

In [61]:
if p_value<0.05:
    print('Reject Null Hypothesis')
else:
    print('Accept Null Hypothesis')

Accept Null Hypothesis